

# Virtual environments
venv
env/
.venv/
# Data (large datasets)
data/dataset.csv
# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Models (saved artifacts)
models/
*.pkl
*.joblib



# OS-specific files
.DS_Store
Thumbs.db

# IDE/project files
.vscode/
.idea/
